<!DOCTYPE html>
<html>
<head>
    <title>JumpstartAppPlain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="bg-gray-100 h-screen">
<div class="flex h-full items-center justify-center">
    <%= yield %>
</div>
</body>
</html>
